.logo_carrousel{
    width:100%;
    height:4rem;
    padding:1rem 0;
    background: rgba(0, 0, 0, 0.145);
}

#logo{
    height:4rem;
}

@media (max-width:768px){
    .logo_carrousel{
        width:100%;
        height:3rem;
        padding:1rem 0;
        background: rgba(0, 0, 0, 0.145);
    }
    
    #logo{
        height:3rem;
    }
}